#### **Reading Data**

In [1]:
import pandas as pd

# Read the Excel file, skipping the 1st and 3rd rows, and using the 2nd row as the header
df = pd.read_excel("Data/Sample Data for the Model.xlsx", skiprows=[0, 2])

df.head()

,Customer,Products,User Name,UID,Business Name,Address,State,City,Zip,Phone,...,City.3,State.3,Zip.3,Phone.3,Email.3,Website URL.3,Website Content - Scrapped.3,All Signals.2,Category - Primary\n.3,Category - Secondary.3
0,Acme Digital,Website Design Services\n1. Responsive Design:...,John Doe,5387439f2f92e2af1a401a9c,TagLine Media Group,"1655 N Swan Rd,",AZ,Tucson,85712,5202078910,...,Tucson,AZ,85701.0,5.203221e+09,info@maddenmedia.com,maddenmedia.com,https://storage.googleapis.com/buzzenginegsbuc...,"[{""BUSINESS INFO"":{""Business Name"":""Madden Med...",Advertising,Internet Marketing Services
1,NaN,NaN,John Doe,538746be2f92e2af1a4a2612,Insight Marketing Design,401 E 8th Street Suite 304,SD,Sioux Falls,57103,6052750011,...,Sioux Falls,SD,57105.0,6.052752e+09,NaN,tiger29.com,https://storage.googleapis.com/buzzenginegsbuc...,"[{""BUSINESS INFO"":{""Business Name"":""Tiger29"",""...",Advertising,Internet Marketing Services
2,NaN,NaN,John Doe,538749ed2f92e2af1a53da57,Agency Creative,14875 Landmark Blvd Suite 230,TX,Dallas,75254,9724881660,...,Dallas,TX,75234.0,9.722432e+09,admin@milleradagency.com,milleradagency.com,https://storage.googleapis.com/buzzenginegsbuc...,"[{""BUSINESS INFO"":{""Business Name"":""Miller Ad ...",Advertising,Advertising Agencies
3,NaN,Email and Microsoft 365\n1. Microsoft 365 Desk...,Mathew,538754b42f92e2af1a75d02c,Madisonmain,101 E Cary St,VA,Richmond,23219,8776236246,...,Chesterfield,VA,23832.0,8.449101e+09,sales@practice-promotions.com,practicepromotions.net,https://storage.googleapis.com/buzzenginegsbuc...,"[{""BUSINESS INFO"":{""Business Name"":""Practice P...",Advertising,Marketing Consultants
4,NaN,NaN,Mathew,538756b32f92e2af1a7c24dd,Geonetric,4211 Glass Rd NE Ste A,IA,Cedar Rapids,52402,8005891171,...,Iowa City,IA,52240.0,3.196210e+09,webmaster@vortexbusinesssolutions.com,vortexbusinesssolutions.com,https://storage.googleapis.com/buzzenginegsbuc...,"[{""BUSINESS INFO"":{""Business Name"":""Vortex Bus...",Advertising,Advertising Agencies

In [2]:
df['All Signals.2']

0     [{"BUSINESS INFO":{"Business Name":"Madden Med...
1     [{"BUSINESS INFO":{"Business Name":"Tiger29","...
2     [{"BUSINESS INFO":{"Business Name":"Miller Ad ...
3     [{"BUSINESS INFO":{"Business Name":"Practice P...
4     [{"BUSINESS INFO":{"Business Name":"Vortex Bus...
5     [{"BUSINESS INFO":{"Business Name":"Thrive Int...
6                                                   NaN
7                                                   NaN
8                                                   NaN
9                                                   NaN
10                                                  NaN
11                                                  NaN
Name: All Signals.2, dtype: object

## **Filtering Data based on the Json Data provided**

In [3]:
import pandas as pd

# Load the Excel file
file_path = "Data/Sample Data for the Model.xlsx"  # Replace with the actual path to your file
data_sheet_full = pd.read_excel(file_path, header=None)

# Identify all columns related to "All Signals"
# Assumes the second row (index 1) contains column headers
all_signals_columns = data_sheet_full.columns[
    data_sheet_full.iloc[1].str.contains("All Signals", case=False, na=False)
]

# Extract rows for these columns
all_signals_data = data_sheet_full.loc[:, all_signals_columns]

# Save the extracted data to a new file for review
output_file_path = "all_signals_data.xlsx"  # Save it as Excel
all_signals_data.to_excel(output_file_path, index=False)

print(f"Data extracted and saved to: {output_file_path}")

Data extracted and saved to: all_signals_data.xlsx

### **Reading the filtered Data**

In [4]:
import pandas as pd
df=pd.read_excel("all_signals_data.xlsx",skiprows=[0,1])
df.head()

,All Signals/SMB Data Points,All Signals,All Signals.1,All Signals.2
0,NaN,Competition1,Competition2,Competition3
1,"[{""BUSINESS INFO"":{""Business Name"":""TagLine Me...","[{""BUSINESS INFO"":{""Business Name"":""Intoclicks...","[{""BUSINESS INFO"":{""Business Name"":""Gsm Market...","[{""BUSINESS INFO"":{""Business Name"":""Madden Med..."
2,"[{""BUSINESS INFO"":{""Business Name"":""Insight Ma...","[{""BUSINESS INFO"":{""Business Name"":""Marketbeat...","[{""BUSINESS INFO"":{""Business Name"":""Click Rain...","[{""BUSINESS INFO"":{""Business Name"":""Tiger29"",""..."
3,"[{""BUSINESS INFO"":{""Business Name"":""Agency Cre...","[{""BUSINESS INFO"":{""Business Name"":""Spectrum R...","[{""BUSINESS INFO"":{""Business Name"":""On Hold So...","[{""BUSINESS INFO"":{""Business Name"":""Miller Ad ..."
4,"[{""BUSINESS INFO"":{""Business Name"":""Madisonmai...","[{""BUSINESS INFO"":{""Business Name"":""Ooh Lamar ...","[{""BUSINESS INFO"":{""Business Name"":""Flier For ...","[{""BUSINESS INFO"":{""Business Name"":""Practice P..."

#### Chanding name of desired columns

In [5]:
df.columns = ["Original Comoany Combined Json Data", "Cmpetation1 Combined Json Data", "Competation2 Combined Json Data", "Competation3Combined Json Data"]
df.iloc[0][0]="Orginal Company"

/var/folders/tv/gkhqvlr92js55bf3s7q8jr000000gp/T/ipykernel_55592/647520578.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df.iloc[0][0]="Orginal Company"
/var/folders/tv/gkhqvlr92js55bf3s7q8jr000000gp/T/ipykernel_55592/647520578.py:2: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  df.iloc[0][0]="Orginal Company"

In [6]:
df.head()

,Original Comoany Combined Json Data,Cmpetation1 Combined Json Data,Competation2 Combined Json Data,Competation3Combined Json Data
0,Orginal Company,Competition1,Competition2,Competition3
1,"[{""BUSINESS INFO"":{""Business Name"":""TagLine Me...","[{""BUSINESS INFO"":{""Business Name"":""Intoclicks...","[{""BUSINESS INFO"":{""Business Name"":""Gsm Market...","[{""BUSINESS INFO"":{""Business Name"":""Madden Med..."
2,"[{""BUSINESS INFO"":{""Business Name"":""Insight Ma...","[{""BUSINESS INFO"":{""Business Name"":""Marketbeat...","[{""BUSINESS INFO"":{""Business Name"":""Click Rain...","[{""BUSINESS INFO"":{""Business Name"":""Tiger29"",""..."
3,"[{""BUSINESS INFO"":{""Business Name"":""Agency Cre...","[{""BUSINESS INFO"":{""Business Name"":""Spectrum R...","[{""BUSINESS INFO"":{""Business Name"":""On Hold So...","[{""BUSINESS INFO"":{""Business Name"":""Miller Ad ..."
4,"[{""BUSINESS INFO"":{""Business Name"":""Madisonmai...","[{""BUSINESS INFO"":{""Business Name"":""Ooh Lamar ...","[{""BUSINESS INFO"":{""Business Name"":""Flier For ...","[{""BUSINESS INFO"":{""Business Name"":""Practice P..."

In [7]:
df=df.iloc[1:]
df.head(3)

,Original Comoany Combined Json Data,Cmpetation1 Combined Json Data,Competation2 Combined Json Data,Competation3Combined Json Data
1,"[{""BUSINESS INFO"":{""Business Name"":""TagLine Me...","[{""BUSINESS INFO"":{""Business Name"":""Intoclicks...","[{""BUSINESS INFO"":{""Business Name"":""Gsm Market...","[{""BUSINESS INFO"":{""Business Name"":""Madden Med..."
2,"[{""BUSINESS INFO"":{""Business Name"":""Insight Ma...","[{""BUSINESS INFO"":{""Business Name"":""Marketbeat...","[{""BUSINESS INFO"":{""Business Name"":""Click Rain...","[{""BUSINESS INFO"":{""Business Name"":""Tiger29"",""..."
3,"[{""BUSINESS INFO"":{""Business Name"":""Agency Cre...","[{""BUSINESS INFO"":{""Business Name"":""Spectrum R...","[{""BUSINESS INFO"":{""Business Name"":""On Hold So...","[{""BUSINESS INFO"":{""Business Name"":""Miller Ad ..."

In [8]:
df.shape

(12, 4)

### **Storing the DataFrame in the form of Json so that I can send that as part of the prompt**

In [9]:



big_json=df.to_json(orient="records", indent=4)
# Save the JSON to a file
with open("big_output.json", "w") as json_file:
    json_file.write(big_json)

print("JSON file saved as 'big_output.json'")

JSON file saved as 'big_output.json'

In [14]:
import json

# Path to the input JSON file
input_json_file = 'big_output.json'

# Path to the output Python file
output_py_file = 'big_data.py'

# Load the JSON data
with open(input_json_file, 'r') as json_file:
    data = json.load(json_file)

# Convert JSON nulls to Python None explicitly during writing
with open(output_py_file, 'w') as py_file:
    py_file.write("# Automatically generated Python file\n\n")
    py_file.write("big_data = ")
    # Use json.dumps with default and ensure_ascii=False for proper conversion
    py_file.write(json.dumps(data, indent=4).replace("null", "None"))
    py_file.write("\n")

<div style="background-color: #d4edda; color: #155724; padding: 10px; border: 1px solid #c3e6cb; border-radius: 4px;">
We have preprocessed the Data and stored it in big_data.py file
</div>